.main{
  width:300px;
  margin:5% auto;
  background-color: red;
  border-radius: 5px;
}
.main div{
  display: inline-block;
  border:none;
  background-color: red;
}
.main .left{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:100%;
  background-color: #d65050;
  border-radius: 5px;
  position: relative;
  color: white;
}
.left h1{
  text-align: center;
  padding-top:50px;
  margin-bottom: 0;
  color: #000000;
}
.left p{
  margin-top:0;
  text-align:center;
  color:#000000;
}
.left form{
  text-align: center;
}
.left form input{
  text-align:center;
  width:80%;
  height:25px;
  margin-bottom:30px;
  border:none;
  border:1px solid #F8F8F8;
  background-color:#F8F8F8;
  border-radius:15px;
}
.left form input:focus{
  outline:none;
}
::-webkit-input-placeholder{
  color:grey;
  letter-spacing: 1px;
}
.left form input[type="submit"]{
  background-color:#000000;
  color:#fff;
  padding: 1px;
  font-weight: bold;
}

.left form input[type="submit"]:hover {
  background-color: #000000; /* Green */
  color: #d65050;
}
.left p.forgot{
  color:#fff;
  font-size:12px;
  padding-top: 30px;
}